.ingredient {
    position:relative;
    width: 272px;
    height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    cursor: pointer;
}
.link {
    text-decoration: none;
}
.ingredient > p {
    color: #F2F2F3;
}
.price > p { 
    color: #F2F2F3;
}

.price {
    display:flex;
    margin:auto;
    width:fit-content
}

.title {
    text-align: center;
    flex: 1;
}
