.wrapper {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.link > button{
  padding: 0;
}