.container {
  display: flex;
  gap: 60px;
}

.leftContainer {
  width: 320px;
  margin-top: 120px;
  margin-left: 380px;
}
.navigation {
  display: flex;
  flex-direction: column;
}

.navigation > p {
  line-height: 64px;
}
.navigation > a {
  text-decoration: none;
  line-height: 64px;
}

.activeLink {
  color: #F2F2F3;
}

.fields {
  margin-top: 120px;
  flex-direction: column;
  display: flex;
  gap: 24px;
}

.ordersContainer {
  margin-top: 40px;
  width: 852px;
  height: max(246px, calc(100vh - 192px));
  padding-right: 8px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 24px;
}