.container {
    background-color: #1C1C21;
    border-radius: 40px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header > svg{
    cursor: pointer;
}

.body {
    padding: 0px 100px 60px 100px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}