.container {
    display:flex;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    color:#8585AD;;
}

.activeLink > p {
    color: #F2F2F3;
}
.activeLink > svg {
    fill: #F2F2F3;
}